<footer class="footer">
  <small>
    <%= t(
      ".footer_left",
      tut_book: link_to(t(".book_display"), ApplicationHelper::TUT_LINK),
      tut_author: link_to(t(".auth_display"), ApplicationHelper::TUT_AUTHOR),
    ).html_safe%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t(".news"), ApplicationHelper::TUT_NEW %></li>
    </ul>
  </nav>
</footer>
